<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: left;">
        <h1>recipe page</h1>
        <h1> Name : {{name}} <h1>
        <h1> Time : {{time}} <h1>
        <h1> Ingredients : {{ingredients}} <h1>
         {% for i in ingredients %}   
             <h1> {{i}} </h1>
         {% endfor %}


         {% if time <= 2 %}
            <h1> Quick Recipe </h1>
         {% else %}
            <h1> Not a Quick Recipe </h1>
         {% endif %}

            
    </div>
</body>
</html>