{% extends "base1.html" %}
{% block content %}

<h1>SERVICE TABLE</h1>

<a href="{% url 'Service' %}" class="btn btn-success">Create Service</a>
<a href="{% url 'ServiceFilter' %}" class="btn btn-primary">Filter</a>
<a href="{% url 'SortServices' 1 %}" class="btn btn-primary">ASC</a>
<a href="{% url 'SortServices' 2 %}" class="btn btn-primary">DESC</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>SERVICE NAME</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>DURATION</th>
            <th>IS ACTIVE</th>
            <th>CREATED AT</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        {% for ser in services %}
        <tr>
            <td>{{ ser.id }}</td>
            <td>{{ ser.ServicesName }}</td>
            <td>{{ ser.Description }}</td>
            <td>{{ ser.Price }}</td>
            <td>{{ ser.Duration }}</td>
            <td>{{ ser.Is_Activate }}</td>
            <td>{{ ser.Created_At }}</td>
            <td>
                <a href="{% url 'ServiceDelete' ser.id %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'ServiceUpdate' ser.id %}" class="btn btn-primary">Update</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
