<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: left;">
        <h1>team page</h1>
        <h1>team : {{teamname}}</h1>
        <h1>captain : {{captain}}</h1>
        <h1>players : {{players}}</h1>
        {% for i in players %}   
            <h1> {{i}} </h1>
        {% endfor %}


        {% if trophies >= 3 %}
            <h1> won more then 3 trophies</h1>
        {% else %}
            <h1> Less than 3 trophies </h1>    
        {% endif %}

            
    </div>
</body>
</html>